* {
    font-family: 'Open sans';
    font-style: normal;
}

header {
    background-color: #0073A1;
    height: 90px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
.main-title {
    margin-top: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
    color: #555555;
    border-bottom: 1px solid #000000;
}
.title-blue {
    padding: 20px 308px 20px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    color: #003471;
}
.content {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.date{
    padding-left: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    color: #0073A1;
}
.content-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
}
.title {
    padding: 20px 391px 20px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    color: #000000;
}
.content-text{
    margin-bottom: 25px;
    padding-left: 40px;
    padding-bottom: 28px;
    padding-right:40px ;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #555555;
}
.button{
    margin-top: 60px;
    margin-bottom: 225px;
    width: 230px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: #FFFFFF;

    background: #0073A1;
    border-radius: 40px;
    border: #0073A1;

}